
.container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.models{
    display: flex;
    justify-content: space-around;
}


.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color:#0075ab;
    box-shadow: 5px 5px 0 0 #0075ab;
    border: 3px solid #00487e;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #0075ab;
    letter-spacing: 5px;
    margin-right: 50px;
}


.button:hover,
.button_active {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #0075ab;
    box-shadow: 4px 5px 17px -4px #0075ab;
}

.button::before{
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.button:hover::before{
    background-color:#0075ab;
    width: 250%;
}

.button_active{
    background-color:#0075ab;
}

.emojies {
    display: flex;
    justify-content: center;
}

.emoji {
    position: relative;
    /* padding: 20px; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* border: 15px solid #ff3300; */
    /* background: conic-gradient(from 0deg, #ff3300 0deg, transparent 0deg); */
    transition: 0.4s;
    transform: scale(0.7);
}

.emoji:first-child {
    margin-right: 150px;
}

.emoji.active1 {
    /* background: conic-gradient(from 0deg, #ff3300 360deg, rgb(237, 237, 237) 0deg); */
    transform: scale(1.1);
    box-shadow: 0 0 10px #ff33003b, 0 0 20px #ff33006a, 0 0 30px #ff33008f, 0 0 40px #ff3300a1, 0 0 50px #ff3300c6, 0 0 60px #ff3300dd, 0 0 70px #ff3300, 0 0 80px #ff3300, 0 0 90px #ff3300, 0 0 100px #ff3300,0 0 110px #ff3300;
}

.emoji.active2 {
    /* background: conic-gradient(from 0deg, #84E4F7 360deg, rgb(237, 237, 237) 0deg); */
    transform: scale(1.1);
    box-shadow: 0 0 10px #84e4f741, 0 0 20px #84e4f77b, 0 0 30px #84e4f782, 0 0 40px #84e4f7a2, 0 0 50px #84e4f7b9, 0 0 60px #84e4f7cd, 0 0 70px#84E4F7, 0 0 80px#84E4F7, 0 0 90px#84E4F7;
}

.emoji img {
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.emoji img:last-child {
    width: 250px;
}

.subscribe{
    margin-bottom: 100px;
    margin-top: 40px;
    display: flex;
    width: 600px;
    padding: 30px 40px;
    background-color: #1a1625;
    border-radius: 10px;
    gap: 20px;
    color: white;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.form textarea {
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    /* border: none; */
    flex: 1;
    width: 100%;
    resize: none;
    padding: 20px 10PX;
    background-color: #0075ab00;
    height: 100px;
    border: 5px solid #0075ab;
}

.form textarea::-webkit-scrollbar{
    display:none;
}

.form textarea::-webkit-inner-spin-button,
.form textarea::-webkit-outter-spin-button {
    display: none;
}

.form textarea::placeholder {
    transition: opacity 0.4s;
}


.form textarea:focus::placeholder {
    opacity: 0;
}

.form textarea:focus {
    outline: none;
}

.form input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--maincolor);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: 0.4s;
    height: 50px;
    margin-left:20px ;
}

.form input[type="submit"]:hover {
    background-color: #0075ab;
}

.subscribe{
    display: flex;
    flex-direction: column;
}

.error{
    color: #a3270d;
}